.bookmark-icon {
  position: absolute;
  height: 10px;
  right: 8px;
  top: -4px;
  border: 15px solid black;
  border-bottom-color: transparent;
}

.bookmark-icon-active {
  position: absolute;
  height: 10px;
  right: 8px;
  top: -4px;
  border: 15px solid rgb(245, 106, 201);
  border-bottom-color: transparent;
}
